/*================  color  ============================*/

$white:white;
$very-light-red:#FFFFFF9B;
$paint-chip:#468CBB;
$cerrlean-frost:#6EABBF;
$black:#000000;
$light-blue:#589BC7;
$dark-blue: #6EABBF;
$magenta-pink:#ff0096;
$electric-violet:#da0f8a;
$grey:#999;
$bluebarry:#f73ba9;
$grey44:#707070;
$metallic-seaweed:#0D5F95;
$dark-red:#b20303;
$kingly-cloud:#dedede;
$white-smoke:#f5f5f5;
$cerulean-frost:#5B99C2;
$grey94:#f0f0f0;
$medium-dark-shed-cyan-blue:#06467E;

/*================  font-family  ========================*/

 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@300;400;500;600;700;800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

$openSans: 'Open Sans', sans-serif;
$bodoni: 'Bodoni Moda', serif;
$arimo: 'Arimo', sans-serif;


/*===============  font-weight variable  ==================*/

$font-semi-bold:600;
$font-bold:bold;
$font-medium:500;
$font-light:300;
$font-normal:normal;
