<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description" content="homepage template" />
      <meta name="author" content="vaibhav" />
      <title>Document</title>
      <link
         rel="icon"
         type="image/x-icon"
         href="../../images/16x16-SLUHN.ico"
      />
      <link
         rel="apple-touch-icon"
         href="../../images/star_apple-touch-icon-192x192.png"
      />
      <!-- inject:css -->
      <!-- endinject -->
   </head>
   <body>
      <header>@@include('../../components/header/header.html')</header>
      <main id="main">
         @@include('../../components/carousel/carousel.html')
         @@include('../../components/about/about.html')
         @@include('../../components/follow/follow.html')
         @@include('../../components/popular_service/popular_service.html')
      </main>
      <footer>@@include('../../components/footer/footer.html')</footer>

      <!-- inject:js -->
      <!-- endinject -->
   </body>
</html>
