<div class="follow">
  <div class="follow_one">
    <div class="follow_one_heading">Follow St. luke Plastic & Reconstructive Surgery</div>
    <div class="follow_one_img-para">
        <img class="follow_one_img-para-img" src="../../images/a1.webp" alt="follow-img"/>
        <p class="follow_one_img-para_para">St. Lukes Plastic & Reconstructive Surgery its dedicated to helping you feel your best.  Our staff provides a wide range of services, from aesthetics to advanced cosmetic surger. Our staff provides a wide range of services, from aesthetics to advanced cosmetic surger Our staff provides a wide range of services, from aesthetics to advanced cosmetic surger.</p>
    </div>

  </div>
  
  <div class="follow_two">
    <div class="follow_two_heading">Follow St. luke Plastic & Reconstructive Surgery</div>
    <div class="follow_two_img-box">
        <img class="follow_two_img-box-img" src="../../images/b1.webp" alt="follow-img"/>
        <img class="follow_two_img-box-img" src="../../images/b2.webp" alt="follow-img"/>
        <img class="follow_two_img-box-img" src="../../images/b3.webp" alt="follow-img"/>
        
    </div>
  </div>
  
</div>