<!-- breadcrumbs link -->
<nav class="breadcrumbs">
    <a href="#" role="link" class="breadcrumbs__links">SLUHN Home ></a>
    <a href="#" role="link" class="breadcrumbs__links">Plastic & Reconstructive Surgery ></a>
    <a href="#" role="link" class="breadcrumbs__links active">Location</a>
</nav>

<section class="location">
    <div class="location__heading">
        <h3 class="location__heading-h3">Locations</h3>
        <button id="filter_open" class="location__heading-btn" aria-label="show" aria-pressed="false">
            <i class="fas fa-sort-amount-down"></i>
        </button>

        <!--location__heading-filter -->
        <div class="location__heading-filter" id="location_filter">
            <div class="location__heading-filter-body">
                <!-- 1-Heading -->
                <div class="location__heading-filter-body-1">
                    <h3 class="location__heading-filter-body-1-h3">Sort By</h3>
                    <div class="location__heading-filter-body-1-img">
                        <button aria-label="filter">
                            <img src="../../images/sort.png" class="filter-img" width="32px" height="32px"
                                alt="filter_img" />
                        </button>
                    </div>
                </div>
                <!-- 3-btns -->

                <div class="location__heading-filter-body-3">
                    <p>Distance</p>
                </div>

                <!-- 4- Cancel & Apply btn with top border -->
                <div class="location__heading-filter-body-border"></div>

                <div class="location__heading-filter-body-4">
                    <button class="location__heading-filter-body-4-btn" id="filter_close" aria-label="hide">
                        Cancel
                    </button>
                    <button class="location__heading-filter-body-4-btn" aria-label="Apply">
                        Apply
                    </button>
                </div>
            </div>
        </div>
    </div>

    <ul class="location__ul">
        <li class="location__ul-list">
            <h3 class="location__ul-list-heading">
                St. Luke's Plastic & Reconstructive Surgery - Bethlehem
            </h3>
            <address class="location__ul-list-address">
                <i class="fas fa-map-marked-alt location__ul-list-address-icon"></i>74
                West Broad Street, Suite 170 Bethlehem, PA, 18018<br /><i
                    class="fas fa-phone-square-alt location__ul-list-address-icon"></i>
                <a class="location__ul-list-address-link">Phone 484-526-1260</a>
            </address>
        </li>
        <li class="location__ul-list">
            <h3 class="location__ul-list-heading">
                St. Luke's Plastic & Reconstructive Surgery - Bethlehem
            </h3>
            <address class="location__ul-list-address">
                <i class="fas fa-map-marked-alt location__ul-list-address-icon"></i>74
                West Broad Street, Suite 170 Bethlehem, PA, 18018<br /><i
                    class="fas fa-phone-square-alt location__ul-list-address-icon"></i>
                <a class="location__ul-list-address-link">Phone 484-526-1260</a>
            </address>
        </li>
        <li class="location__ul-list">
            <h3 class="location__ul-list-heading">
                St. Luke's Plastic & Reconstructive Surgery - Bethlehem
            </h3>
            <address class="location__ul-list-address">
                <i class="fas fa-map-marked-alt location__ul-list-address-icon"></i>74
                West Broad Street, Suite 170 Bethlehem, PA, 18018<br /><i
                    class="fas fa-phone-square-alt location__ul-list-address-icon"></i>
                <a class="location__ul-list-address-link">Phone 484-526-1260</a>
            </address>
        </li>
        <li class="location__ul-list">
            <h3 class="location__ul-list-heading">
                St. Luke's Plastic & Reconstructive Surgery - Bethlehem
            </h3>
            <address class="location__ul-list-address">
                <i class="fas fa-map-marked-alt location__ul-list-address-icon"></i>74
                West Broad Street, Suite 170 Bethlehem, PA, 18018<br /><i
                    class="fas fa-phone-square-alt location__ul-list-address-icon"></i>
                <a class="location__ul-list-address-link">Phone 484-526-1260</a>
            </address>
        </li>
        <li class="location__ul-list">
            <h3 class="location__ul-list-heading">
                St. Luke's Plastic & Reconstructive Surgery - Bethlehem
            </h3>
            <address class="location__ul-list-address">
                <i class="fas fa-map-marked-alt location__ul-list-address-icon"></i>74
                West Broad Street, Suite 170 Bethlehem, PA, 18018<br /><i
                    class="fas fa-phone-square-alt location__ul-list-address-icon"></i>
                <a class="location__ul-list-address-link">Phone 484-526-1260</a>
            </address>
        </li>
        <li class="location__ul-list">
            <h3 class="location__ul-list-heading">
                St. Luke's Plastic & Reconstructive Surgery - Bethlehem
            </h3>
            <address class="location__ul-list-address">
                <i class="fas fa-map-marked-alt location__ul-list-address-icon"></i>74
                West Broad Street, Suite 170 Bethlehem, PA, 18018<br /><i
                    class="fas fa-phone-square-alt location__ul-list-address-icon"></i>
                <a class="location__ul-list-address-link">Phone 484-526-1260</a>
            </address>
        </li>
        <li class="location__ul-list">
            <h3 class="location__ul-list-heading">
                St. Luke's Plastic & Reconstructive Surgery - Bethlehem
            </h3>
            <address class="location__ul-list-address">
                <i class="fas fa-map-marked-alt location__ul-list-address-icon"></i>74
                West Broad Street, Suite 170 Bethlehem, PA, 18018<br /><i
                    class="fas fa-phone-square-alt location__ul-list-address-icon"></i>
                <a class="location__ul-list-address-link">Phone 484-526-1260</a>
            </address>
        </li>
        <li class="location__ul-list">
            <h3 class="location__ul-list-heading">
                St. Luke's Plastic & Reconstructive Surgery - Bethlehem
            </h3>
            <address class="location__ul-list-address">
                <i class="fas fa-map-marked-alt location__ul-list-address-icon"></i>74
                West Broad Street, Suite 170 Bethlehem, PA, 18018<br /><i
                    class="fas fa-phone-square-alt location__ul-list-address-icon"></i>
                <a class="location__ul-list-address-link">Phone 484-526-1260</a>
            </address>
        </li>
    </ul>
</section>