<nav class="navbar">
  <div class="navbar_1">
    <img
      class="navbar_1_img ms"
      src="../../images/header-logo.png"
      width="70px" alt="header_logo"
    />
    <i class="fas fa-user-circle"></i>
    <a href="#"class="navbar_1_links lg">Create Account |</a>
    <a href="#"class="navbar_1_links lg">Sign in |</a>
    <i class="fas fa-question"></i>
  </div>
  <div class="navbar_2 lg">
    <a href="homepage.html" class="navbar_2_logo"><img src="../../images/header-logo.png"  width="173px"  alt="header_2_logo"/></a>
    <div class="navbar_2_menu">
      <div class="navbar_2_menu_line"></div>
      <div class="navbar_2_menu_line"></div>
      <div class="navbar_2_menu_line"></div>
    </div>
  </div>
  <div class="navbar_3 navbar_3_align ms">
    <h5>Plastic & Reconstructive Surgery</h5>
  </div>

  <div class="navbar_3 lg">
    <a href="#"class="navbar_3_gap navbar_3_links">Plastic & Reconstructive Surgery |</a>
    
    <a href="patient-story-page.html"class="navbar_3_links">About</a>
    <a href="meet-the-team.html"class="navbar_3_links">Meet the Team</a>
    <a href="#"class="navbar_3_services navbar_3_links">Services</a>
    <a href="#"class="navbar_3_links">Locations</a>
    <a href="#"class="navbar_3_links">Gallery</a>
    <a href="#"class="navbar_3_links">Contact Us</a>
  
  </div>

  <div class="navbar_3_services_list">
    <div class="navbar_3_services_list_center">
      <a href="#">Face</a>
      <a href="#">Skin</a>
      <a href="#">Body</a>
      <a href="#">Plastic Surgery</a>
      <a href="#">Non Surgical</a>
    </div>
  </div>
  <div class="navbar_4 menu ms">
    <div class="navbar_4_menu_ul">
      <div class="navbar_4_menu_ul_li">
        <a href="#">About</a>
        <a href="#">Meet the Team</a>
        <a href="#">Services</a>
        <a href="#">Locations</a>
        <a href="#">Contact Us</a>
        
      </div>
      <div class="navbar_4_menu" id="menu">
        <div class="navbar_4_menu_line"></div>
        <div class="navbar_4_menu_line"></div>
        <div class="navbar_4_menu_line"></div>
      </div>

    </div>
  </div>
</nav>
