.footer {
  width: 100%;
  display: flex;
  min-height: 230px;
  padding: 0;
  flex-wrap: wrap;


  &_1 {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    
    justify-content: center;
    @media (max-width:768px) {
      width: 40%;
    }
    &_img{
      padding: 15px;
    }
  }
  &_2 {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dedede;

    @media (max-width:768px) {
      width: 60%;
      flex-direction: column;
    }

    &_ul {
      list-style: none;
      color: #000;
      text-align: center;
      padding: 0;
      margin-right: 50px  !important;
      margin-left: 20px !important;
      @media (max-width:768px) {
      margin: 20px 0 !important; 
     
    }
    li>a{color: #000;
      text-align: center;
      font-size: 28px;
      font-weight: 600;
      @media(max-width:768px){
        font-size: 24px;
      }
    }
    }
  }
  &_3{
    display: flex;
    background-color: #000; 
    width: 100%;
    padding-top: 8px;
    justify-content: space-around;
    align-items: center;

    >a{
      text-decoration: underline;
      font-size: 14px;
      color: #fff;
      font-weight: 600;
    
    }

}
}
