<div class="patient-stories">

    <!--patient-stories_heading -->
    <div class="patient-stories_heading">
        <h3 class="patient-stories_heading-h3">Patient Stories</h3>
        <button id="filter_open" class="patient-stories_heading-btn" aria-label="show" aria-pressed="false"><i class="fas fa-sort-amount-down" ></i></button>
        
   


        <!--patient-stories_heading-filter -->
        <div class="patient-stories_heading-filter" id="patient-stories_filter">
            <div class="patient-stories_heading-filter-body">
                <!-- 1-Heading -->
                <div class="patient-stories_heading-filter-body-1">
                <h3  class="patient-stories_heading-filter-body-1-h3">Refine Results</h3>
                <div class="patient-stories_heading-filter-body-1-img"><button aria-label="filter"><img src="../../images/sort.png" class="filter-img" width="32px" height="32px" alt="filter_img"/></button></div>
               </div>
               <!-- 3-btns -->
               <div class="patient-stories_heading-filter-body-2">
                <input  class="patient-stories_heading-filter-body-2-input" placeholder="Service Type" />
               </div>
               <!-- -Input -->
               <div class="patient-stories_heading-filter-body-3">
                <button aria-label="choose" class="patient-stories_heading-filter-body-3-btn">Face</button>
                <button aria-label="choose" class="patient-stories_heading-filter-body-3-btn">body</button>
                <button aria-label="choose" class="patient-stories_heading-filter-body-3-btn">Skin</button>
                <button aria-label="choose" class="patient-stories_heading-filter-body-3-btn">Surgery</button>
                <button aria-label="choose" class="patient-stories_heading-filter-body-3-btn">pediatric</button>
               </div>

               <!-- Repeating 2&3 -->
               <div class="patient-stories_heading-filter-body-2">
                <input  class="patient-stories_heading-filter-body-2-input" placeholder="Gender" />
               </div>
               <div class="patient-stories_heading-filter-body-3">
                <button aria-label="choose" class="patient-stories_heading-filter-body-3-btn">Male</button>
                <button aria-label="choose" class="patient-stories_heading-filter-body-3-btn">Female</button>
                <button aria-label="choose" class="patient-stories_heading-filter-body-3-btn">non binary</button>
                
               </div>
               <!-- Repeating 2&3 -->
               <div class="patient-stories_heading-filter-body-2">
                <input  class="patient-stories_heading-filter-body-2-input" placeholder="Sort By" />
               </div>
               <div class="patient-stories_heading-filter-body-3">
                <button aria-label="choose" class="patient-stories_heading-filter-body-3-btn">Newest First</button>
                <button aria-label="choose" class="patient-stories_heading-filter-body-3-btn">Oldest first</button>
                
               </div>

               <!-- 4- Cancel & Apply btn with top border -->
               <div class="patient-stories_heading-filter-body-border"></div>

               <div class="patient-stories_heading-filter-body-4">
                <button class="patient-stories_heading-filter-body-4-btn" id="filter_close" aria-label="hide">Cancel</button>
                <button class="patient-stories_heading-filter-body-4-btn" aria-label="Apply">Apply</button>
                
               </div>


            </div>
        </div>
       
    </div>


    <!-- patient-stories 1 & 2 -->
    <div class="patient-stories__1">
        <div class="patient-stories__1-img stories_img">
            <img src="https://source.unsplash.com/220x300" class="patient-stories__1-images" alt="patient-stories-img"/>
        </div>
        <div class="patient-stories__1-text">
            <h4>-Jazmin-</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="patient-stories__inline-border"></div>
    </div>
    <div class="patient-stories__2">
        <div class="patient-stories__2-img stories_img">
            <img src="https://source.unsplash.com/220x300" class="patient-stories__1-images" alt="patient-stories-img"/>
        </div>
        <div class="patient-stories__2-text">
            <h4>-Jazmin-</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="patient-stories__inline-border"></div>
    </div>
     <!-- patient-stories 3 & 4-->
    <div class="patient-stories__1">
        <div class="patient-stories__1-img stories_img">
            <img src="https://source.unsplash.com/220x300" class="patient-stories__1-images" alt="patient-stories-img"/>
        </div>
        <div class="patient-stories__1-text">
            <h4>-Jazmin-</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="patient-stories__inline-border"></div>
    </div>
    <div class="patient-stories__2">
        <div class="patient-stories__2-img stories_img">
            <img src="https://source.unsplash.com/220x300" class="patient-stories__1-images" alt="patient-stories-img"/>
        </div>
        <div class="patient-stories__2-text">
            <h4>-Jazmin-</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="patient-stories__inline-border"></div>
    </div>
    <button class="patient-stories__btn">SCHEDULE YOUR CONSULTATION<i class="fas fa-chevron-right"></i></button>
</div>