
    <div class="about">
        <h1 class="about__h1">About</h1>
       
        <p class="about__p">St. Lukes Plastic & Reconstructive Surgery its dedicated to helping you feel your best. Our staff provides a wide range of services, from aesthetics to advanced cosmetic surgery, all designed to help you love your face and body even more. Our goal is to deliver your desired results.</p>
        <div class="about__reviews">
            <div class="about__reviews_person">
                <div class="about__reviews_person_1  bg-1 box1"></div>
                <div class="about__reviews_person_2 box2">
                    <h3 class="about__reviews_person_2_heading ">-HELLO-</h3>
                    <p class="about__reviews_person_2_para ">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor."</p>

                </div>
            </div>
            <div class="about__reviews_person">
                <div class="about__reviews_person_1  bg-2 box1"></div>
                <div class="about__reviews_person_2 box2">
                    <h3 class="about__reviews_person_2_heading ">-HELLO-</h3>
                    <p class="about__reviews_person_2_para ">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor."</p>
                </div>
            </div>
            <div class="about__reviews_person">
                <div class="about__reviews_person_1  bg-3 box1"></div>
                <div class="about__reviews_person_2 box2">
                    <h3 class="about__reviews_person_2_heading ">-HELLO-</h3>
                    <p class="about__reviews_person_2_para ">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor."</p>
                </div>
            </div>
            <div class="about__reviews_person">
                <div class="about__reviews_person_1  bg-4 box1"></div>
                <div class="about__reviews_person_2 box2">
                    <h3 class="about__reviews_person_2_heading ">-HELLO-</h3>
                    <p class="about__reviews_person_2_para ">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor."</p>
                </div>
            </div>
            
        </div>
        <div class="about__seemore">See More Patient Stories <i class="fas fa-angle-right"></i></div>
    </div>
