<!-- breadcrumbs link --> 
<nav class="breadcrumbs">
    <a href="#"  role=”link” class="breadcrumbs__links">SLUHN Home  <i class="fas fa-question breadcrumbs__links-i"></i></a>
    <a href="#"  role=”link” class="breadcrumbs__links">Plastic & Reconstructive Surgery  <i class="fas fa-question breadcrumbs__links-i"></i></a>
    <a href="#"  role=”link” class="breadcrumbs__links active">Meet the Team</a>
</nav>

<!-- Section Meet the team --> 
<section class="meet_the_team">

    <!-- heading & para --> 
    <h1 class="meet_the_team-heading">Meet the Team</h1>
    <p class="meet_the_team-para">St. Luke’s Plastics & Reconstructive Surgery is skilled at repairing wounds and skin affected by injury, infection, disease or surgical treatments. From skin cancer removal to reduction of scars, our skilled surgeons offer several techniques to restore the health and appearance of your skin.</p>
    

    <!-- Surgical --> 
    <h2 class="meet_the_team-heading">Surgical</h2>
    <div class="meet_the_team__surgical">

       <!-- Surgical Members--> 
       <div class="meet_the_team__surgical__member">
           <img class="meet_the_team__surgical__member-img" src="../../images/team.png" alt="member">
           <div class="meet_the_team__surgical__member-inlineborder"></div>
           <div class="meet_the_team__surgical__member-name">Jonathan S. Lam, MD Plastic Surgery</div>
       </div>

       <div class="meet_the_team__surgical__member">
        <img class="meet_the_team__surgical__member-img" src="../../images/team.png" alt="member">
        <div class="meet_the_team__surgical__member-inlineborder"></div>
        <div class="meet_the_team__surgical__member-name">Jonathan S. Lam, MD Plastic Surgery</div>
       </div>

       <div class="meet_the_team__surgical__member">
        <img class="meet_the_team__surgical__member-img" src="../../images/team.png" alt="member">
        <div class="meet_the_team__surgical__member-inlineborder"></div>
        <div class="meet_the_team__surgical__member-name">Jonathan S. Lam, MD Plastic Surgery</div>
       </div>

       <div class="meet_the_team__surgical__member">
        <img class="meet_the_team__surgical__member-img" src="../../images/team.png" alt="member">
        <div class="meet_the_team__surgical__member-inlineborder"></div>
        <div class="meet_the_team__surgical__member-name">Jonathan S. Lam, MD Plastic Surgery</div>
       </div>

       
       
    </div>


    <!-- Non Surgical --> 
    <h2 class="meet_the_team-heading">Non Surgical</h2>
    <div class="meet_the_team__nonsurgical">

        <!-- Non Surgical Member-->
        <div class="meet_the_team__nonsurgical__member">  
            <img class="meet_the_team__nonsurgical__member-img" src="../../images/team.png" alt="member">
            <div class="meet_the_team__nonsurgical__member-inlineborder"></div>
            <div class="meet_the_team__nonsurgical__member-name">Jonathan S. Lam, MD Plastic Surgery</div>
        </div>

        <div class="meet_the_team__nonsurgical__member">
            <img class="meet_the_team__nonsurgical__member-img" src="../../images/team.png" alt="member">
            <div class="meet_the_team__nonsurgical__member-inlineborder"></div>
            <div class="meet_the_team__nonsurgical__member-name">Jonathan S. Lam, MD Plastic Surgery</div>
        </div>
       
    </div>


</section>