<footer class="footer">
    <div class="footer_1">
      <img src="../../images/footer_logo.svg" class="footer_1_img" alt="footer_logo"/>
      <h6 class="footer_1_text"></h6></div>
    <div class="footer_2">
        <ul class="footer_2_ul">
            <li> <a href="#">About</a></li>
            <li> <a href="#">Meet the team</a></li>
            <li> <a href="#">Services</a></li>
        </ul>
        <ul class="footer_2_ul">
            <li> <a href="#">Location</a></li>
            <li> <a href="#">Gallery</a></li>
            <li> <a href="#">Contact Us</a></li>
        </ul>
    </div>
    <div class="footer_3">
        <a href="#">EOE</a>
        <a href="#">Privacy</a>
        <a href="#">Term of use</a>
        <a href="#">public notice</a>
    </div>
</footer>