<!-- breadcrumbs link --> 
<nav class="breadcrumbs">
    <a href="#"  role="link" class="breadcrumbs__links">SLUHN Home  ></a>
    <a href="#"  role="link" class="breadcrumbs__links">Plastic & Reconstructive Surgery ></a>
    <a href="#"  role="link" class="breadcrumbs__links">Meet the Team ></a>
    <a href="#"  role="link" class="breadcrumbs__links active">Jonathan S. Lam, MD</a>
</nav>


<!-- Team Member -->
<section class="team-member">
    <!-- Team Member heading & Subheading -->
    <h1 class="team-member-heading">Jonathan S. Lam</h1>
    <h2 class="team-member-subheading">Plastic Surgery</h2>


    <!-- About Member heading & para -->
    <h3 class="team-member__About-heading">About</h3>
    <p  class="team-member__About-para">Ut tempor lacus sed augue posuere pretium. Fusce placerat ultrices ex, vitae aliquet mauris congue eu. Quisque consequat dui at ligula sollicitudin, sodales viverra augue gravida. Nam sagittis nunc eu ipsum condimentum finibus.</p>
    

    <!-- Team Member Video & para -->
    <div class="team-member__video">
        <div class="team-member__video__banner">
          <img class="team-member__video__banner-img" src="../../images/video-banner.webp" alt="video image">
          <i class="fas fa-play team-member__video__banner-play" role="button" id="play"></i>
          <i class="fab fa-chromecast team-member__video__banner-cast"  role="button" id="cast"></i>
        </div>
        <div class="team-member__video__para">
          <p class="team-member__video__para-withquote"><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae</q></p>
        </div>
        <div class="team-member__video-bg"></div>
    </div>
    
     <!-- Team Member Details-->
    <div class="team-member__details">
        

        <!-- Team Member Details of Exprience & Education-->
        <div class="team-member__details__exp_edu">
            <div class="team-member__details__exp_edu-exp">
                <h2 class="team-member__details__exp_edu-exp-heading">Experience</h2>
                <p class="team-member__details__exp_edu-exp-para">Ut tempor lacus sed augue posuere pretium. Fusce placerat ultrices ex, vitae aliquet mauris congue eu. Quisque consequat dui at ligula sollicitudin, sodales viverra augue gravida. Nam sagittis nunc eu ipsum condimentum finibus.Ut tempor lacus sed augue posuere pretium.</p>
            </div>
            <div class="team-member__details__exp_edu-edu">
              <h2 class="team-member__details__exp_edu-edu-heading">Education</h2>
              <ul class="team-member__details__exp_edu-edu-ul">
                  <li class="team-member__details__exp_edu-edu-ul-list">
                    <h3 class="team-member__details__exp_edu-edu-ul-list-heading">Medical School</h3>
                    <p class="team-member__details__exp_edu-edu-ul-list-para">Boston University School of Medicine, 1992</p> 
                  </li>
                  <li class="team-member__details__exp_edu-edu-ul-list">
                    <h3  class="team-member__details__exp_edu-edu-ul-list-heading">Medical School</h3>
                    <p class="team-member__details__exp_edu-edu-ul-list-para">Temple University School of Dentistry, 1988</p> 
                  </li>
                  <li class="team-member__details__exp_edu-edu-ul-list">
                    <h3  class="team-member__details__exp_edu-edu-ul-list-heading">Internship</h3>
                    <p class="team-member__details__exp_edu-edu-ul-list-para">Lehigh Valley Health Network, 1992 - 1993</p> 
                  </li>
                  <li class="team-member__details__exp_edu-edu-ul-list">
                    <h3  class="team-member__details__exp_edu-edu-ul-list-heading">Residency</h3>
                    <p class="team-member__details__exp_edu-edu-ul-list-para">Lehigh Valley Health Network, 1993 - 1995</p> 
                  </li>
                  <li class="team-member__details__exp_edu-edu-ul-list">
                    <h3  class="team-member__details__exp_edu-edu-ul-list-heading">Residency </h3>
                    <p class="team-member__details__exp_edu-edu-ul-list-para">Lehigh Valley Health Network, 1997 - 2000</p> 
                  </li>
                  <li class="team-member__details__exp_edu-edu-ul-list">
                    <h3  class="team-member__details__exp_edu-edu-ul-list-heading">Residency</h3>
                    <p class="team-member__details__exp_edu-edu-ul-list-para">West Virginia University Charleston Medical Center, 1988 - 1989</p> 
                  </li>
                  <li class="team-member__details__exp_edu-edu-ul-list">
                    <h3  class="team-member__details__exp_edu-edu-ul-list-heading">Fellowship</h3>
                    <p class="team-member__details__exp_edu-edu-ul-list-para">Childrens Hospital - Los Angeles, 2000 - 2001</p> 
                  </li>
                  <li class="team-member__details__exp_edu-edu-ul-list">
                    <h3  class="team-member__details__exp_edu-edu-ul-list-heading">Fellowship</h3>
                    <p class="team-member__details__exp_edu-edu-ul-list-para">Children’s Hospital of Orange County, 2000 - 2001</p> 
                  </li>
                 
              </ul>
            </div>
        </div>


         <!-- Team Member Details of Location & Contact-->
        <div class="team-member__details__loc_contact">
            <button class="team-member__details__loc_contact-btn">
                SCHEDULE YOUR CONSULTATION<i class="fas fa-chevron-right">
            </button>
            <div  class="team-member__details__loc_contact-locations">
              <h2 class="team-member__details__loc_contact-locations-heading">Locations</h2>
              <ul class="team-member__details__loc_contact-locations-ul">
                   <li class="team-member__details__loc_contact-locations-ul-list"> <h3 class="team-member__details__loc_contact-locations-ul-list-heading">St. Luke's Plastic & Reconstructive Surgery - Bethlehem</h3>
                    <address class="team-member__details__loc_contact-locations-ul-list-address"><i class="fas fa-map-marked-alt team-member__details__loc_contact-locations-ul-list-address-icon"></i>74 West Broad Street, Suite 170 Bethlehem, PA, 18018<br><i class="fas fa-phone-square-alt team-member__details__loc_contact-locations-ul-list-address-icon"></i> <a class="team-member__details__loc_contact-locations-ul-list-address-link">Phone 484-526-1260</a></address>
                   </li>
                   <li class="team-member__details__loc_contact-locations-ul-list"> <h3 class="team-member__details__loc_contact-locations-ul-list-heading">St. Luke's Plastic & Reconstructive Surgery - Bethlehem</h3>
                    <address class="team-member__details__loc_contact-locations-ul-list-address"><i class="fas fa-map-marked-alt team-member__details__loc_contact-locations-ul-list-address-icon"></i>74 West Broad Street, Suite 170 Bethlehem, PA, 18018<br><i class="fas fa-phone-square-alt team-member__details__loc_contact-locations-ul-list-address-icon"></i> <a class="team-member__details__loc_contact-locations-ul-list-address-link">Phone 484-526-1260</a></address>
                   </li>
                   <li class="team-member__details__loc_contact-locations-ul-list"> <h3 class="team-member__details__loc_contact-locations-ul-list-heading">St. Luke's Plastic & Reconstructive Surgery - Bethlehem</h3>
                    <address class="team-member__details__loc_contact-locations-ul-list-address"><i class="fas fa-map-marked-alt team-member__details__loc_contact-locations-ul-list-address-icon"></i>74 West Broad Street, Suite 170 Bethlehem, PA, 18018<br><i class="fas fa-phone-square-alt team-member__details__loc_contact-locations-ul-list-address-icon"></i> <a class="team-member__details__loc_contact-locations-ul-list-address-link">Phone 484-526-1260</a></address>
                   </li>
                   <li class="team-member__details__loc_contact-locations-ul-list"> <h3 class="team-member__details__loc_contact-locations-ul-list-heading">St. Luke's Plastic & Reconstructive Surgery - Bethlehem</h3>
                    <address class="team-member__details__loc_contact-locations-ul-list-address"><i class="fas fa-map-marked-alt team-member__details__loc_contact-locations-ul-list-address-icon"></i>74 West Broad Street, Suite 170 Bethlehem, PA, 18018<br><i class="fas fa-phone-square-alt team-member__details__loc_contact-locations-ul-list-address-icon"></i> <a class="team-member__details__loc_contact-locations-ul-list-address-link">Phone 484-526-1260</a></address>
                   </li>
                   <li class="team-member__details__loc_contact-locations-ul-list"> <h3 class="team-member__details__loc_contact-locations-ul-list-heading">St. Luke's Plastic & Reconstructive Surgery - Bethlehem</h3>
                    <address class="team-member__details__loc_contact-locations-ul-list-address"><i class="fas fa-map-marked-alt team-member__details__loc_contact-locations-ul-list-address-icon"></i>74 West Broad Street, Suite 170 Bethlehem, PA, 18018<br><i class="fas fa-phone-square-alt team-member__details__loc_contact-locations-ul-list-address-icon"></i> <a class="team-member__details__loc_contact-locations-ul-list-address-link">Phone 484-526-1260</a></address>
                   </li>
              </ul>
            </div> 
        </div>

    </div>

</section>